body{
  background-image: url('../img/background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  font-family: Merriweather,'Helvetica Neue',Arial,sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

.text-faded {
    color: rgba(255,255,255,.7);
}

.navbar-default {
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.navbar-default .navbar-header .navbar-brand {
    text-transform: uppercase;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    font-weight: 700;
}

.navbar-default .nav > li>a,
.navbar-default .nav>li>a:focus {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
}
