{% extends 'base.html' %}

{% block main %}
 <div class="container" style="margin-top: 70px;">

<ol class="breadcrumb">
  <li><a href="#">United States</a></li>
</ol>

<div class="row">
<div class="col-md-3 thumbnail">
<h4>Search</h4>
<h4>Price Range</h4>
<h4>Price Range</h4>

</div>

  <div class="col-md-9">
    <div class="thumbnail">
      
      {% for dwelling in object_list %}
      <img src="..." alt="...">
      <div class="caption">
        <h3>{{ dwelling.address }}</h3>
        {% if dwelling.desc %}
        <p>{{ dwelling.desc|truncatechars:100 }}</p>
        {% endif %}
        <p><a href="/dwelling/{{ dwelling.id }}" class="btn btn-primary" role="button">View Property</a> </p>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

</div>
{% endblock %}
