{% extends 'base.html' %}

{% block main %}
 <div class="container" style="margin-top: 70px;">

<ol class="breadcrumb">
  <li><a href="#">United States</a></li>
  <li><a href="#">Washington, D.C.</a></li>
  <li class="active">{{ object }}</li>
</ol>

        <div class="row">

            <div class="col-md-8">

                <div class="thumbnail">
                    <div id="map-canvas" style="height: 300px;"></div>
                    <div class="caption-full">
                        <h4 class="pull-right">Estimated Rent: $2,950</h4>
                        <h4 class="lead">{{ object }}</h4>
                        <p>{{ object.desc }} </p>
                    </div>

                    <div class="ratings">
                        <p class="pull-right">3 reviews</p>
                        <p>
                            Average Tenant Rating: 
                            

                            {% if object.totalRating >= 1.0 %}
                                <span class="fa fa-star"></span>
                                {% elif object.totalRating >= 0.5 %}
                                <span class="fa fa-star-half-o"></span>
                                {% else %}
                                <span class="fa fa-star-o"></span>
                            {% endif %}
                            
                            {% if object.totalRating >= 2.0 %}
                                <span class="fa fa-star"></span>
                                {% elif object.totalRating >= 1.5 %}
                                <span class="fa fa-star-half-o"></span>
                                {% else %}
                                <span class="fa fa-star-o"></span>
                            {% endif %}

                            {% if object.totalRating >= 3.0 %}
                                <span class="fa fa-star"></span>
                                {% elif object.totalRating >= 2.5 %}
                                <span class="fa fa-star-half-o"></span>
                                {% else %}
                                <span class="fa fa-star-o"></span>
                            {% endif %}

                            {% if object.totalRating >= 4.0 %}
                                <span class="fa fa-star"></span>
                                {% elif object.totalRating >= 3.5 %}
                                <span class="fa fa-star-half-o"></span>
                                {% else %}
                                <span class="fa fa-star-o"></span>
                            {% endif %}

                            {% if object.totalRating >= 5.0 %}
                                <span class="fa fa-star"></span>
                                {% elif object.totalRating >= 4.5 %}
                                <span class="fa fa-star-half-o"></span>
                                {% else %}
                                <span class="fa fa-star-o"></span>
                            {% endif %}


                            {{object.totalRating}} stars
                        </p>
                    </div>
                </div>

                <div class="well">

                <h3>Home Reviews</h3>

                    <hr>
                    {% for review in reviews %}
                    <p class="lead">{{review.userCreated.first_name}} {{review.userCreated.last_name}}</p>
                    <div class="row">
                        <div class="col-md-12">
                            <strong>Rating:</strong> {{review.rating}}/5

                            {% if review.rating >= 1.0 %}
                                <span class="fa fa-star"></span>
                                {% elif review.rating >= 0.5 %}
                                <span class="fa fa-star-half-o"></span>
                                {% else %}
                                <span class="fa fa-star-o"></span>
                            {% endif %}
                            
                            {% if review.rating >= 2.0 %}
                                <span class="fa fa-star"></span>
                                {% elif review.rating >= 1.5 %}
                                <span class="fa fa-star-half-o"></span>
                                {% else %}
                                <span class="fa fa-star-o"></span>
                            {% endif %}

                            {% if review.rating >= 3.0 %}
                                <span class="fa fa-star"></span>
                                {% elif review.rating >= 2.5 %}
                                <span class="fa fa-star-half-o"></span>
                                {% else %}
                                <span class="fa fa-star-o"></span>
                            {% endif %}

                            {% if review.rating >= 4.0 %}
                                <span class="fa fa-star"></span>
                                {% elif review.rating >= 3.5 %}
                                <span class="fa fa-star-half-o"></span>
                                {% else %}
                                <span class="fa fa-star-o"></span>
                            {% endif %}

                            {% if review.rating >= 5.0 %}
                                <span class="fa fa-star"></span>
                                {% elif review.rating >= 4.5 %}
                                <span class="fa fa-star-half-o"></span>
                                {% else %}
                                <span class="fa fa-star-o"></span>
                            {% endif %}

                            <span class="pull-right">10 days ago</span>
                            <p><strong>Lived here:</strong> May 1, 2015 to Present</p>
                            <p>{{ review.content }}</p>
                        </div>
                    </div>
                    {% endfor %}



                    <hr>

                    <div class="row">
                    <div class="col-md-6">
                        <p class="lead">Own this place?</p>
                        <a class="btn btn-success">Verify your address</a>
                    </div>
                    <div class="col-md-6">
                        <p class="lead">Lived here before?</p>
                        <a class="btn btn-success">Leave a Review</a>
                    </div>
                    </div>


                    </div>


                    



                </div>




            <div class="col-md-4">
                <div class="list-group">
                    <a class="list-group-item active">Interested Renters</a>
                    <a href="#" class="list-group-item">John Doe</a>
                    <a href="#" class="list-group-item">Erlich Bachman</a>
                    <a href="#" class="list-group-item">Sam Altman</a>
                    <a href="#" class="list-group-item">Chris Ritz</a>
                    <a href="#" class="list-group-item">Darren Smith</a>
                    <a href="#" class="list-group-item">Jack Blue</a>
                </div>
                <div class="list-group">
                    <a href="#" class="list-group-item active">Nearby Places</a>
                    <a href="#" class="list-group-item">368 G St SW</a>
                    <a href="#" class="list-group-item">608 G St SE</a>
                    <a href="#" class="list-group-item">307 M St SW</a>
                    <a href="#" class="list-group-item">135 4th St SW</a>
                    <a href="#" class="list-group-item">280 New Jersey Ave SE</a>
                    <a href="#" class="list-group-item">410 A St NE</a>
                </div>
            </div>


            </div>
        </div>

    </div>
    <!-- /.container -->

    <div class="container">

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Taleggio 2014</p>
                </div>
            </div>
        </footer>



    <!-- Google Maps API -->
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script>
      function initialize() {
        var mapCanvas = document.getElementById('map-canvas');
        var mapOptions = {
          center: new google.maps.LatLng(38.8951, -77.0367),
          zoom: 13,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        var map = new google.maps.Map(mapCanvas, mapOptions)
      };
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>





 </div>
{% endblock %}
