{% extends 'base.html' %}

{% block main %}
 <div class="container" style="margin-top: 70px;">

<ol class="breadcrumb">
  <li><a href="#">United States</a></li>
  <li><a href="#">Virginia</a></li>
  <li><a href="#">Fairfax</a></li>
  <li><a href="#">22030</a></li>
  <li class="active">123 Address Lane</li>
</ol>


<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="..." alt="...">
      {% for dwelling in object_list %}
      <div class="caption">
        <h3>{{ dwelling.address }}</h3>
        <p>{{ dwelling.desc|truncatechars:100 }}</p>
        <p><a href="/dwelling/{{ dwelling.id }}" class="btn btn-primary" role="button">View Property</a> </p>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

</div>
{% endblock %}
