<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="./bootstrap.css" media="screen">
    <link rel="stylesheet" href="../assets/css/bootswatch.min.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../bower_components/html5shiv/dist/html5shiv.js"></script>
      <script src="../bower_components/respond/dest/respond.min.js"></script>
    <![endif]-->
    <script>

     var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-23019901-1']);
      _gaq.push(['_setDomainName', "bootswatch.com"]);
        _gaq.push(['_setAllowLinker', true]);
      _gaq.push(['_trackPageview']);

     (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
     })();

    </script>
  </head>
  <body>
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="../" class="navbar-brand">Home</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="file:///home/daniel/bitcamp15/taleggio/templates/Login.html#">Login</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

  <div style="margin-left: 50px">
    <h1 style="margin-top: 60px">Eli Macy</h1>
    <img src="http://lorempixel.com/180/180/people/9/" border="10px">
  </div>

  <div>

  </div>
    <h2 align="center">About me</h2>
    <p style="margin-left: 100px; margin-right: 100px">There isn’t a lot to say about me. I’m a simple person who loves life, but just like most people am struggling to find my way. I would love to one day publish a book or even write an article for a magazine. A friend of mine recently wrote a book called When I Am Her by Chivon Morris, an amazing book of self discovery for women and I was blessed to be apart of that. I started this blog partially because of her, she has been one of the main stepping-stones on my path of self discovery, of redefining myself, and realizing my worth.</p>
  </div>
</div> 