{% extends 'base.html' %}

{% block main %}
 <div class="container" style="margin-top: 70px;">

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="thumbnail">
      {% for review in object_list %}
      <div class="caption">
        <h4>Review for: {{ review.dwelling.address }}</h4>
        <p>by: {{ review.userCreated.first_name }} {{ review.userCreated.last_name }}</p>
        <p>{{ review.content }}</p>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

</div>
{% endblock %}
