body {
  padding: 0;
  margin: 0;
  font-family: "RobotoDraft", "Helvetica Neue", "Segoe UI Web Regular", "Segoe UI", Helvetica, Arial, sans-serif;
}

.drawer-icon > core-icon {
  color: #909090;
}
core-scaffold::shadow core-toolbar {
    background-color: #BF4F51;
    color: #fff;
}
core-scaffold core-toolbar {
    background-color: #BF4F51;
    color: #fff;
}
paper-button[raised].colored {
    background: #BF4F51;
    color: #fff;
}
::content > .avatar {
    margin: 0; /* override */
}
#navheader {
    background: url(images/drawer_bg.png) top left repeat;
}
#navheader .avatar {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    background: #9e9e9e url("images/drawer_bg.png") center center no-repeat;
    background-size: contain;
}
#navheader .uuid {
    color: #fff;
    font-weight: 500;
    text-shadow: 1px 1px 2px #000;
}
.avatar {
    border: solid 3px silver;
}
#core_card {
  width: 96%;
  /*height: 300px;*/
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.0980392) 0px 2px 4px, rgba(0, 0, 0, 0.0980392) 0px 0px 3px;
  margin: 2%;
  background-color: rgb(255, 255, 255);
  text-align: left;
}

html /deep/ paper-dropdown-menu {
  box-sizing: border-box;
  width: 170px;
}

html /deep/ core-menu {
  box-sizing: border-box;
  width: 170px;
}

paper-item {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
