db:
  image: postgres
  volumes:
    - /dbdata:/var/lib/postgresql/data
web:
  build: .
  command: python manage.py makemigrations
  command: gunicorn -b 0.0.0.0:8000 taleggio.wsgi --reload
  volumes:
    - /srv/www:/code
  ports:
    - "8000:8000"
  links:
    - db
